body {
  font-family: sans-serif;
  text-align: center;
  background: rgb(15, 102, 102);
}

/* style for search form and button */
.search{
  margin-bottom: 5%;
}
/** hides lightbox by default */
.lightbox{
  	display: none;
  	position: fixed;
  	z-index: 999;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	top: 0;
  	left: 0;
  	background: linear-gradient( 45deg, rgb(15, 102, 102), rgba(69, 33, 92, 0.75) );
}

/* unhides lightbox */
.lightbox:target {
	display: block;
}

/* position and style of each image in lightbox */
.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 5%;
  border-radius: 2%;
}

/* style for div that holds all thumbnails */
#thumbnails{
  background-color: rgba(69, 33, 92, 0.75);
  padding: 5% 10%;
  border-radius: 5%;
  top: 25%;
  left: 40%;

}

/* style for each image thumbnail */
.thumbs{
  display: inline;
  border-radius: 4%;
  max-width: 200px;
  max-height: 200px;
}
