.lightBoxBG{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  display: none;
  background-color: #000000;
  height: 100%;
  width: 100%;
}

.lightBox{
  position: absolute;
  top: 25%;
  left: 40%;
  display: none;

}
